[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Oo]bj/
*.suo
*.suo

InnovaService/InnovaServiceHost/InnovaServiceHost/bin/Antlr3.Runtime.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/EntityFramework.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/Microsoft.Web.Infrastructure.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/Newtonsoft.Json.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Net.Http.Formatting.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Mvc.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Http.WebHost.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/EntityFramework.SqlServer.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Helpers.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Http.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Optimization.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Razor.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.WebPages.Deployment.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.WebPages.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.WebPages.Razor.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/WebGrease.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/Antlr3.Runtime.pdb
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/EntityFramework.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.WebPages.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Http.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/InnovaServiceHost.pdb
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/EntityFramework.SqlServer.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Net.Http.Formatting.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/InnovaService.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/InnovaService.pdb
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/InnovaServiceHost.dll
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/InnovaServiceHost.dll.config
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/Newtonsoft.Json.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Helpers.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Http.WebHost.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Mvc.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.WebPages.Razor.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Optimization.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.Razor.xml
InnovaService/InnovaServiceHost/InnovaServiceHost/bin/System.Web.WebPages.Deployment.xml
